@using Proyecto_Progra_MVC.Application.Handlers
@using Microsoft.AspNetCore.Authorization
@model List<Info>

<section class="class-timetable-section spad">
    <div class="container">
        <div class="row">
            <div class="col-6 section-title">
                <h2>Users Progress</h2>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-12">
                <div class="class-timetable">
                    <table id="info"  style="width:100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Weight</th>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Physical Activity</th>
                                <th>Date</th>
                                <th>Calorie Calculator</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var info in Model)
                            {
                                <tr id="info_@info.IdInfo">
                                    <td><p>@info.User.Name @info.User.Lastname</p></td>
                                    <td><p>@info.Weight</p></td>
                                    <td><p>@info.Height</p></td>
                                    <td><p>@info.Age</p></td>
                                    <td><p>@info.Gender</p></td>
                                    <td><p>@info.PhysicalActivity</p></td>
                                    <td><p>@info.InfoDate</p></td>
                                    <td>
                                        <div class="text-center">
                                            <a href="/info/calculate/@info.IdInfo" class="btn btn-success text-white" style="cursor:pointer">
                                                <i class="fa-solid fa-heart-pulse"></i> Calculate
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            @inject IAuthorizationService _authorizationService
                                            @if ((await _authorizationService.AuthorizeAsync(User, PermissionTypesNames.WRITEROLES)).Succeeded)
                                            {
                                                <a href="/info/update/@info.IdInfo" class="btn btn-success text-white" style="cursor:pointer">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            }
                                            @if (User.IsInRole("Administrator"))
                                            {
                                                <a onclick=Delete("@info.IdInfo") class="btn btn-danger text-white" style="cursor:pointer">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function Delete(id) {
        swal({
            title: "Are you sure you want to delete the information?",
            text: "The data cannot be recovered you do not see that it has been deleted!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: "/info/delete/" + id,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            $("#info_" + id).remove();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }

</script>
